- if @organization.errors.any?
  .alert.alert-danger
    %h2= "#{pluralize(@organization.errors.count, 'error')} prohibited this organization from being saved:"
    %ul
      - @organization.errors.full_messages.each do |msg|
        %li= msg

= render 'admin/organizations/forms/name', f: f
= render 'admin/organizations/forms/description', f: f
= render 'admin/shared/forms/website', f: f

= f.submit 'Create organization', class: 'btn btn-primary btn-lg', data: { disable_with: 'Please wait...' }
