.authform
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: 'form' }) do |f|
    %h3 Resend confirmation instructions
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, class: 'form-control'
    = f.submit 'Resend confirmation instructions', class: 'button center'
    %br
  = render 'devise/shared/links'