= field_set_tag do
  .form-group
    = f.label :street_1, 'Street (Line 1)'
    .row
      .col-sm-6
        = f.text_field :street_1, class: 'form-control'
  .form-group
    = f.label :street_2, 'Street (Line 2)'
    .row
      .col-sm-6
        = f.text_field :street_2, class: 'form-control'
  .form-group
    = f.label :city, 'City'
    .row
      .col-sm-6
        = f.text_field :city, maxlength: 255, class: 'form-control'
  .form-group
    = f.label :state, 'State (2-letter abbreviation)'
    .row
      .col-sm-2
        = f.text_field :state, maxlength: 2, class: 'form-control'
  .form-group
    = f.label :postal_code, 'ZIP Code'
    .row
      .col-xs-4
        = f.text_field :postal_code, maxlength: 5, class: 'form-control'
  .form-group
    = f.label :country_code, 'ISO 3361-1 2-letter Country Code'
    .row
      .col-sm-2
        = f.text_field :country_code, maxlength: 2, class: 'form-control'
  = f.hidden_field :_destroy
  = link_to 'Delete this address permanently', '#', class: 'btn btn-danger delete_association'
