= f.label :street, 'Street'
= f.text_field :street
%br
= f.label :city, 'City'
= f.text_field :city, maxlength: 255
%br
= f.label :state, 'State (2-letter abbreviation)'
= f.text_field :state, maxlength: 2, class: 'span1'
%br
= f.label :zip, 'ZIP Code'
= f.text_field :zip, maxlength: 5, class: 'span2'
= f.hidden_field :_destroy
%br
