= field_set_tag do
  .form-group
    = f.label :name, 'Name'
    .row
      .col-md-6
        = f.text_field :name, maxlength: 255, class: 'form-control'
  .form-group
    = f.label :title, 'Title'
    .row
      .col-md-6
        = f.text_field :title, maxlength: 255, class: 'form-control'
  .form-group
    = f.label :email, 'Email'
    .row
      .col-md-6
        = f.text_field :email, maxlength: 255, class: 'form-control'
  .form-group
    = f.label :department, 'Department'
    .row
      .col-md-6
        = f.text_field :department, maxlength: 255, class: 'form-control'
  = f.hidden_field :_destroy

  = link_to 'Delete this contact permanently', '#', class: 'btn btn-danger delete_association'
  %hr
