= field_set_tag do
  = f.label :name, 'Name'
  = f.text_field :name, maxlength: 255, title: "Type contact's name here. Max length of 255 characters.", class: 'span5'
  %br
  = f.label :title, 'Title'
  = f.text_field :title, maxlength: 255, title: "Type contact's title, position, or occupation here. Max length of 255 characters.", class: 'span5'
  %br
  = f.label :email, 'Email'
  = f.text_field :email, maxlength: 255, title: "Type contact's email here. Max length of 255 characters.", class: 'span5'
  %br
  = f.label :phone, 'Phone'
  = f.phone_field :phone, maxlength: 12, title: "Type contact's phone number here. Max length of 12 digits.", class: 'span2'
  %br
  = f.label :extension, 'Extension'
  = f.text_field :extension, maxlength: 12, title: "If applicable, type contact's phone extension here. Max length of 12 digits.", class: 'span2'
  %br
  = f.label :fax, 'Fax'
  = f.phone_field :fax, maxlength: 12, title: "Type contact's fax number here. Max length of 12 digits.", class: 'span2'

  = f.hidden_field :_destroy
  %br
  = link_to "Delete this contact permanently", '#', class: "btn btn-danger delete_association"
