.inst-box.emails
  %header
    %strong
      Emails (general info)
    %p.desc
      %em
        If the email belongs to a contact, please move it to the existing contact, or create a new contact.
  - if @location.emails.present?
    - @location.emails.each_with_index do |email, i|
      = field_set_tag do
        .row
          %div{ class: "col-sm-6 #{error_class_for(@location, :emails, email)}" }
            = email_field_tag 'location[emails][]', email, class: 'form-control', id: "location_emails_#{i}"
        = link_to 'Delete this email permanently', '#', class: 'btn btn-danger delete_attribute'
        %hr
  = link_to_add_array_fields 'Add a new general email', :locations, :email
