%div.inst-box
  %header
    %strong
      Fax Numbers
    %p.desc
      %em
        10 digits only please, in this format: 650-802-7922.
        %br
        If the fax number belongs to a contact, please move it to the existing contact, or create a new contact.
  = field_set_tag nil, id: 'faxes' do
    = f.fields_for :faxes do |builder|
      = render 'admin/locations/forms/fax_fields', f: builder
      = link_to "Delete this fax permanently", '#', class: "btn btn-danger delete_association"
      %p
    = link_to_add_fields 'Add a fax number', f, :faxes
