= field_set_tag do
  .form-group
    = f.label :number, 'Number'
    .row
      .col-md-4
        = f.phone_field :number, maxlength: 12, class: 'form-control', autocomplete: true
  .form-group
    = f.label :department, 'Department'
    .row
      .col-md-6
        = f.text_field :department, maxlength: 50, class: 'form-control'
  = f.hidden_field :_destroy
  = link_to 'Delete this fax permanently', '#', class: 'btn btn-danger delete_association'
  %hr
