= field_set_tag do
  = f.label :number, 'Number'
  = f.phone_field :number, maxlength: 12, class: 'span2', autocomplete: true
  %br
  = f.label :department, 'Department'
  = f.text_field :department, maxlength: 50, title: "Type the department name for the fax number provided. Max length of 50 characters." class: 'span4'

  = f.hidden_field :_destroy
  %br
  = link_to 'Delete this fax permanently', '#', class: 'btn btn-danger delete_association'

