- if @location.errors.any?
  .alert.alert-danger
    %h2 #{pluralize(@location.errors.count, 'error')} prohibited this location from being saved:
    %ul
      - @location.errors.full_messages.each do |msg|
        %li= msg

- if f.object.new_record?
  = render 'admin/shared/forms/choose_org', f: f
= render 'admin/shared/forms/name', f: f
= render 'admin/shared/forms/alternate_name', f: f
- if f.object.new_record? || policy(@location).edit?
  = render 'admin/locations/forms/admin_emails', f: f
= render 'admin/locations/forms/description', f: f
= render 'admin/locations/forms/short_desc', f: f
= render 'admin/locations/forms/virtual', f: f
= render 'admin/locations/forms/address', f: f
= render 'admin/locations/forms/mail_address', f: f
= render 'admin/locations/forms/phones', f: f
= render 'admin/shared/forms/email', f: f
= render 'admin/locations/forms/languages', f: f
= render 'admin/shared/forms/hours', f: f
= render 'admin/shared/forms/holiday_hours', f: f
= render 'admin/locations/forms/transportation', f: f
= render 'admin/shared/forms/website', f: f
= render 'admin/locations/forms/accessibility', f: f