.inst-box
  %header
    %strong
      Opening Hours:
    Select the opening and closing times for this location
  %p
    - i = 0
    - days.each do |day|
      = "#{day}"
      = select_tag("#{day}_first_open", options_for_select(create_hours, @location.schedule.present? ? @location.schedule[i].open : '09:00'))
      = '---'
      = select_tag("#{day}_first_close", options_for_select(create_hours, @location.schedule.present? ? @location.schedule[i].close : '12:00'))
      %br
      - if @location.schedule.present? && @location.schedule[i + 1].open.present?
        = 'and'
        = "#{day}"
        = select_tag("#{day}_sec_open", options_for_select([''] + create_hours, @location.schedule.present? ? @location.schedule[i + 1].open : ''))
        = '---'
        = select_tag("#{day}_sec_close", options_for_select([''] + create_hours, @location.schedule.present? ? @location.schedule[i + 1].close : ''))
      - i += 2
      %br
      %br