= field_set_tag do
  .form-group
    = f.label :attention
    .row
      .col-sm-6
        = f.text_field :attention, maxlength: 255, class: 'form-control'
  .form-group
    = f.label :address_1
    .row
      .col-sm-6
        = f.text_field :address_1, class: 'form-control'
  .form-group
    = f.label :address_2
    .row
      .col-sm-6
        = f.text_field :address_2, class: 'form-control'
  .form-group
    = f.label :city
    .row
      .col-sm-6
        = f.text_field :city, maxlength: 255, class: 'form-control'
  .form-group
    = f.label :state_province
    .row
      .col-sm-2
        = f.text_field :state_province, maxlength: 2, class: 'form-control'
  .form-group
    = f.label :postal_code
    .row
      .col-xs-4
        = f.text_field :postal_code, maxlength: 10, class: 'form-control'
  .form-group
    = f.label :country
    .row
      .col-sm-2
        = f.text_field :country, maxlength: 2, class: 'form-control'
  = f.hidden_field :_destroy
  = link_to t('admin.buttons.delete_mailing_address'), '#', class: 'btn btn-danger delete_association'
