= field_set_tag do
  = f.label :number, 'Number'
  = f.telephone_field :number, maxlength: 12, title: 'Type the phone number for this contact. Max length of 12 digits', class: 'span2'
  %br
  = f.label :vanity_number, 'Vanity Number (for example: 650-123-HELP)'
  = f.telephone_field :vanity_number, maxlength: 12, title: 'Type the vanity phone number for this contact. Vanity numbers use corresponding letters instead of numbers for easier memorization. Max length of 12 digits', class: 'span2'
  %br
  = f.label :number_type, 'Number Type (to identify TTY numbers)'
  = f.select :number_type, [["TTY", "TTY"]], include_blank: true
  %br
  = f.label :extension, 'Extension'
  = f.text_field :extension, maxlength: 8, title: 'Type the extension for this contact. Max length of eight digits', class: 'span2'
  %br
  = f.label :department, 'Department'
  = f.text_field :department, maxlength: 50, title: 'Type the name of the department this contact belongs to. Max length of 50 characters', class: 'span4'

  = f.hidden_field :_destroy
  %br
  = link_to 'Delete this phone permanently', '#', class: 'btn btn-danger delete_association'
