= field_set_tag do
  .form-group
    = f.label :number, 'Number'
    .row
      .col-md-4
        = f.telephone_field :number, maxlength: 14, class: 'form-control'
  .form-group
    = f.label :vanity_number, 'Vanity Number (for example: 650-123-HELP)'
    .row
      .col-md-4
        = f.telephone_field :vanity_number, maxlength: 14, class: 'form-control'
  .form-group
    = f.label :number_type, 'Number Type (Fax, Hotline, Voice, or TTY)'
    .row
      .col-md-4
        - if f.object.new_record?
          = f.select :number_type, Phone.number_type.options, { prompt: 'Choose an option' }, class: 'form-control'
        - else
          = f.select :number_type, Phone.number_type.options, {}, class: 'form-control'
  .form-group
    = f.label :extension, 'Extension (numbers only)'
    .row
      .col-md-4
        = f.text_field :extension, maxlength: 8, class: 'form-control'
  .form-group
    = f.label :department, 'Department'
    .row
      .col-md-4
        = f.text_field :department, maxlength: 50, class: 'form-control'
  .form-group
    = f.label :country_prefix, 'Country Prefix Code (for example: 1)'
    .row
      .col-md-4
        = f.telephone_field :country_prefix, maxlength: 4, class: 'form-control'
  = f.hidden_field :_destroy
  = link_to 'Delete this phone permanently', '#', class: 'btn btn-danger delete_association'
  %hr
