= field_set_tag do
  .form-group
    = f.label :number, 'Number'
    .row
      .col-md-4
        = f.telephone_field :number, maxlength: 12, class: 'form-control'
  .form-group
    = f.label :vanity_number, 'Vanity Number (for example: 650-123-HELP)'
    .row
      .col-md-4
        = f.telephone_field :vanity_number, maxlength: 12, class: 'form-control'
  .form-group
    = f.label :number_type, 'Number Type (to identify TTY numbers)'
    .row
      .col-md-4
        = f.select :number_type, [['Not a TTY number', ''], ['TTY number', 'TTY']], {}, class: 'form-control'
  .form-group
    = f.label :extension, 'Extension (for example: x101)'
    .row
      .col-md-4
        = f.text_field :extension, maxlength: 8, class: 'form-control'
  .form-group
    = f.label :department, 'Department'
    .row
      .col-md-4
        = f.text_field :department, maxlength: 50, class: 'form-control'
  = f.hidden_field :_destroy
  = link_to 'Delete this phone permanently', '#', class: 'btn btn-danger delete_association'
  %hr
