%div.inst-box.urls
  %header
    %strong
      Websites
    %p.desc
      What websites are associated with the location?
      %em
        Must include "http://" or "https://"
  - if @location.urls.present?
    - @location.urls.each_with_index do |url, i|
      = field_set_tag do
        = url_field_tag 'location[urls][]', url, class: 'span9', id: "location_urls_#{i}"
        %br
        = link_to "Delete this website permanently", '#', class: "btn btn-danger delete_attribute"
  = link_to_add_array_fields 'Add a website', :locations, :url

