%h3
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form' }) do |f|
  = render 'devise/shared/error_messages', resource: resource
  .form-group
    = f.label :name
    = f.text_field :name, autofocus: true, class: 'form-control'
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %span.help-block
        You recently updated your email to '#{resource.unconfirmed_email}', but we're still waiting for you to confirm it. Please look for an email from us with the subject 'Confirmation instructions'.
  %fieldset
    %p
      Leave these fields blank if you don't want to change your password.
    .form-group
      = f.label :password
      = f.password_field :password, autocomplete: 'off', class: 'form-control'
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
  %fieldset
    %p
      You must enter your current password to make changes.
    .form-group
      = f.label :current_password
      = f.password_field :current_password, autocomplete: 'off', class: 'form-control'
  = f.submit t('buttons.update'), class: 'btn btn-success'

%h3 Cancel Account
%p
  Unhappy? We'll be sad to see you go.
= button_to t('buttons.cancel_my_account'), registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger'
