- if @contact.errors.any?
  .alert.alert-danger
    %h2 #{pluralize(@contact.errors.count, 'error')} prohibited this contact from being saved:
    %ul
      - @contact.errors.full_messages.each do |msg|
        %li= msg

= render 'admin/shared/forms/name', f: f
= render 'admin/contacts/forms/title', f: f
= render 'admin/contacts/forms/email', f: f
= render 'admin/contacts/forms/department', f: f
= render 'admin/locations/forms/phones', f: f
