- if admin_signed_in?
  %p
    Welcome back, #{current_admin.name}!
  %p
    = link_to 'Organizations', admin_organizations_path, class: 'btn btn-primary'
  %p
    = link_to 'Locations', admin_locations_path, class: 'btn btn-primary'
  %p
    = link_to 'Services', admin_services_path, class: 'btn btn-primary'
  %p
    = link_to 'Programs', admin_programs_path, class: 'btn btn-primary'

  - if current_admin.super_admin?
    %p
      = link_to 'Add a new organization', new_admin_organization_path, class: 'btn btn-primary'
  - if @orgs.present?
    %p
      = link_to 'Add a new location', new_admin_location_path, class: 'btn btn-primary'
    %p
      = link_to 'Add a new program', new_admin_program_path, class: 'btn btn-primary'
