.inst-box
  %header
    %strong
      Keywords
    %p.desc
      What search terms does this location's services fall under?

  - if @service.keywords.present?
    - @service.keywords.each_with_index do |keyword, i|
      = field_set_tag do
        .row
          .col-md-6
            = text_field_tag 'service[keywords][]', keyword, class: 'form-control', id: "service_keywords_#{i}"
        = link_to 'Delete this keyword permanently', '#', class: 'btn btn-danger delete_attribute'
        %hr
  = link_to_add_array_fields 'Add a new keyword', :services, :keyword

