.inst-box
  %header
    %strong
      Keywords
    %p.desc
      What search terms does this location's services fall under?

  - if @service.keywords.present?
    - @service.keywords.each_with_index do |keyword, i|
      = field_set_tag do
        = text_field_tag 'service[keywords][]', keyword, class: 'span4', id: "service_keywords_#{i}"
        %br
        = link_to 'Delete this keyword permanently', '#', class: 'btn btn-danger delete_attribute'
  = link_to_add_array_fields 'Add a keyword', :services, :keyword

