%div.inst-box
  %header
    %strong
      Service Areas
    %p.desc
      What city or county does the location serve?
      %em
        Can either be city names or county names. Each word must be capitalized.

  - if @service.service_areas.present?
    - @service.service_areas.each_with_index do |service_area, i|
      = field_set_tag do
        = text_field_tag 'service[service_areas][]', service_area, class: 'span4', id: "service_service_areas_#{i}", title: 'Type the geographic areas served by this location or organization'
        %br
        = link_to 'Delete this service area permanently', '#', class: 'btn btn-danger delete_attribute'
  = link_to_add_array_fields 'Add a service area', :services, :service_area

