%div.inst-box.urls
  %header
    %strong
      Websites
    %p.desc
      What websites are associated with the service?
      %em
        Must include "http://" or "https://"
  - if @service.urls.present?
    - @service.urls.each_with_index do |url, i|
      = field_set_tag do
        = url_field_tag 'service[urls][]', url, class: 'span9', id: "service_urls_#{i}"
        %br
        = link_to "Delete this website permanently", '#', class: "btn btn-danger delete_attribute"
      %hr
  = link_to_add_array_fields 'Add a new website', :services, :url

