%p
  Below you should see a list of programs that you are allowed to administer.
  If there are any entries missing, please #{mail_to "#{SETTINGS[:admin_support_email]}", 'let us know'}.
%p
  To start updating, click on one of the links, which will take you to the details page
  for the program.

- if current_admin.super_admin?
  %p
    As a super admin, you have access to all programs in the database. Please make updates responsibly.

%p
  - @programs.each do |program|
    %ul
      = link_to program.second, edit_admin_program_path(program.first)
  = paginate @programs

  = link_to 'Add a new program', new_admin_program_path, class: 'btn btn-primary'
