%h1 Overview
%h2 Description
%p
  The Ohana API exposes information about human services providers in [insert your city/County/Community]. Here are some applications that have been built on top of the Ohana API:
  %ul
    %li
      #{link_to "SMC Connect", "http://www.smc-connect.org"} - A web-based search interface (#{link_to "source code", "https://github.com/codeforamerica/ohana-web-search"})
    %li
      #{link_to "Ohana SMS", "https://github.com/marks/ohana-sms/"} - A text-message-based search interface (prototype)
%h3 Step 1
%p
  = link_to "Create an account", new_user_registration_path
%h3 Step 2
%p
  = link_to "Register an app", new_api_application_path
%p
  You can use the API without registering an application, but you will be limited to
  60 requests per hour. By registering an application, your limit goes up to 5000 requests per hour.
  Once you register your app, a random API Token will automatically be generated for you, and you
  will need to pass that token via the "X-Api-Token" HTTP header when making API calls in order to benefit from the higher rate limit.
%h3 Step 3
%p
  Build something that matters!
%p
  If you're a Ruby developer, there is a #{link_to "wrapper", "https://github.com/codeforamerica/ohanakapa-ruby"} that makes interacting with the API easy.
%p
  Dig into the API below to explore all the endpoints and read the documentation.

%h2 Important Notes
%p
  All API requests MUST include a valid User-Agent header. Requests with no User-Agent header will be rejected. Unless you're using the #{link_to "Ohanakapa", "https://github.com/codeforamerica/ohanakapa-ruby"} Ruby wrapper, we request that you use the name of your application for the User-Agent header value. This allows us to contact you if there are problems.
%p
  In the documentation below, you won't be able to try out the PUT, POST, and DELETE actions, because those require a token. For more information about writing to the API, read the documentation for the #{link_to "Ohana API Admin", "https://github.com/codeforamerica/ohana-api-admin"} interface.

= render 'swagger_ui/swagger_ui', discovery_url: '/api/swagger_doc'