%h1 Overview
%h2 Description
%p
  This is a #{link_to 'localized instance', api_url(subdomain: ENV['API_SUBDOMAIN'])} of the Ohana API that exposes information about human services providers in #{t('admin.api_location')}. To get started, follow the steps below.

%h3 Step 1
%p
  = link_to 'Create an account', new_user_registration_path
%h3 Step 2
%p
  = link_to 'Register an app', new_api_application_path
%p
  You can use the API without registering an application, but you will be limited to
  60 requests per hour. By registering an application, your limit goes up to 5000 requests per hour.
  Once you register your app, a random API Token will automatically be generated for you, and you
  will need to pass that token via the 'X-Api-Token' HTTP header when making API calls in order to benefit from the higher rate limit.
%p
  Read the #{link_to 'API documentation', 'http://ohanapi.herokuapp.com/api/docs#!/api'} for more details.
%h3 Step 3
%p
  Build something that matters!
%p
  If you're a Ruby developer, there is a #{link_to 'wrapper', 'https://github.com/codeforamerica/ohanakapa-ruby'} that makes interacting with the API easy.
