%div{:class => "form-gen"}
  %h3{:class => "header"} Change your password
  %div{:class => "input-fields"}
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    %div
      = f.label :password, "New password"
      %br/
      = f.password_field :password, :autofocus => true, :class => "input"
    %div
      = f.label :password_confirmation, "Confirm new password"
      %br/
      = f.password_field :password_confirmation, :class => "input"
    %div= f.submit :class => "btn", "Change my password"
    %br/
    = render "devise/shared/links"
