- if user_signed_in?
  %li
    = link_to t('navigation.edit_account'), edit_user_registration_path
  %li
    = link_to t('navigation.your_apps'), api_applications_path
  %li
    = link_to t('navigation.sign_out'), destroy_user_session_path, method: 'delete'
  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to "Hi, #{current_user.name}", '#', class: 'logged-in'
- else
  %li
    = link_to t('navigation.sign_in'), new_user_session_path
  %li
    = link_to t('navigation.sign_up'), new_user_registration_path
