%h3 Ohana Developers

- if user_signed_in?
  %p
    Welcome back #{@user.name}! #{link_to "Create a new application", new_api_application_path} or #{link_to 'view', api_applications_path} your existing ones.
- else
  %p
    Welcome to the Ohana API developer portal!
  %p
    This particular instance of the API exposes information about various human services providers in [insert your city/County/Community].
  %p
    We want you to build something that will connect underprivileged residents with the help they need (food, shelter, medical care, etc.). Read the #{link_to "documentation", "#{ENV["API_BASE_URL"]}docs"} to learn more.
  %p
    #{link_to "Sign up", new_user_registration_path} for a developer account, or #{link_to "sign in", new_user_session_path}.
