.tab-content
  #upload.tab-pane.fade.active.in

    %table.table.text-center.EntityTable
      %tr
        %td.Feedback.hide.alert.text-left.fade.in{colspan: 3}
          .fa.fa-times.close
          .FeedbackMessage

          .fileinput-button
            %input#MultiFileEntityUploadFactory{type: 'file', name: "files[]", multiple: true}
          .fileinput-button
            %input#EntityUploadFactory{type: 'file', name: "files[]", multiple: true}
      %tr
        %td.Entity{class: "#{Category.count == 0 ? 'NotUploaded' : 'Uploaded'}", data: {entity: 'category'}}
          =render partial: 'welcome/btn_upload_file'
          =render partial: 'welcome/uploading'
          %p
            Taxonomy
      %tr.EntityCluster
        %td.Entity.Organization{class: "#{Organization.count == 0 ? 'NotUploaded' : 'Uploaded'}", data: {entity: 'organization'}}
          =render partial: 'welcome/btn_upload_file'
          =render partial: 'welcome/uploading'
          %p
            Organizations
        %td.Entity{class: "#{Program.count == 0 ? 'NotUploaded' : 'Uploaded'}", data: {entity: 'program', depends_on: 'organization'}}
          =render partial: 'welcome/btn_upload_file'
          =render partial: 'welcome/uploading'
          %p
            Programs

        %td.Entity{class: "#{Phone.count == 0 ? 'NotUploaded' : 'Uploaded'}", data: {entity: 'phone', depends_on: 'organization'}}
          =render partial: 'welcome/btn_upload_file'
          =render partial: 'welcome/uploading'
          %p
            Phones
      %tr
        %td
        %td.Entity{class: "#{Contact.count == 0 ? 'NotUploaded' : 'Uploaded'}", data: {entity: 'contact', depends_on: 'organization'}}
          =render partial: 'welcome/btn_upload_file'
          =render partial: 'welcome/uploading'
          %p
            Contacts
        %td

      %tr.EntityCluster
        %td.Entity{class: "#{Location.count == 0 ? 'NotUploaded' : 'Uploaded'}", data: {entity: 'location'}}
          .clearfix.center-block{style: 'width: 143px'}
            .pull-left=render partial: 'welcome/btn_upload_file'
            .pull-left=render partial: 'welcome/btn_upload_file'
          =render partial: 'welcome/uploading'
          %p
            Addresses and Locations
          .btn.btn-success
            Start
            .fa.fa-upload

        %td.Entity{class: "#{Service.count == 0 ? 'NotUploaded' : 'Uploaded'}", data: {entity: 'service', depends_on: 'location'}}
          =render partial: 'welcome/btn_upload_file'
          =render partial: 'welcome/uploading'
          %p
            Services
        %td.Entity{class: "#{MailAddress.count == 0 ? 'NotUploaded' : 'Uploaded'}", data: {entity: 'mail_address', depends_on: 'Location'}}
          =render partial: 'welcome/btn_upload_file'
          =render partial: 'welcome/uploading'
          %p
            Mail addresses

      %tr
        %td

        %td.Entity{class: "#{HolidaySchedule.count == 0 ? 'NotUploaded' : 'Uploaded'}", data: {entity: 'holiday_schedule', depends_on: 'Location'}}
          =render partial: 'welcome/btn_upload_file'
          =render partial: 'welcome/uploading'
          %p
            Holiday schedules

        %td.Entity{class: "#{RegularSchedule.count == 0 ? 'NotUploaded' : 'Uploaded'}", data: {entity: 'regular_schedule', depends_on: 'Location'}}
          =render partial: 'welcome/btn_upload_file'
          =render partial: 'welcome/uploading'
          %p
            Regular Schedules


  #users.tab-pane.fade
    %h2.title Create users

  #taxonomy.tab-pane.fade
    %h2.title Create a taxonomy

  #configs.tab-pane.fade
    %h2.title Basic configurations
    %ol
      %li Upload logo
      %li Set the bounds of the geographic area of your services

:javascript
  var CODE = "#{CGI.parse(request.query_string)['code'][0]}";