.authform
  - if request.host == 'ohana-api-demo.herokuapp.com' && resource.is_a?(Admin)
    To try out the admin interface, sign in with one of these
    #{link_to 'three demo emails and passwords', 'https://github.com/codeforamerica/ohana-api/blob/master/db/seeds.rb#L24-43'}.

  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f|
    %h3 Sign in
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, class: 'form-control'
    .form-group
      = f.label :password
      = f.password_field :password, autocomplete: 'off', class: 'form-control'

    = f.submit 'Sign in', class: 'button right'

    .form-group
      = f.check_box :remember_me
      = f.label :remember_me

  = render 'devise/shared/links'
