- if @organization.errors.any?
  .alert.alert-danger
    %h2= "#{pluralize(@organization.errors.count, 'error')} prohibited this organization from being saved:"
    %ul
      - @organization.errors.full_messages.each do |msg|
        %li= msg

= render 'admin/organizations/forms/name', f: f
= render 'admin/organizations/forms/urls', f: f

.danger-zone
  %header
    %strong
      Danger Zone
  %h4
    Delete this organization
  %p
    Once you delete an organization, there is no going back. Please be certain.
  %p
    = link_to 'Permanently delete this organization', { action: :confirm_delete_organization, org_id: @organization.id, org_name: @organization.name }, remote: true, data: { toggle: 'modal', target: '#modal-window' }, class: 'boxed-action'
#modal-window.modal.fade{ 'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', 'role' => 'dialog', 'tabindex' => '-1' }

.save-box.navbar-default
  %p
    = 'Editing'
    %strong
      = "#{@organization.name}"
  = f.submit 'Save changes & apply edits to database', class: 'btn btn-success', data: { disable_with: 'Please wait...' }
