= render 'admin/organizations/forms/fields', f: f

.content-box
  %h2 Contacts
  - if @organization.contacts.present?
    Click a Contact below to view and update it:
    %p
    - @organization.contacts.each do |contact|
      = link_to contact.name, edit_admin_organization_contact_path(@organization, contact)
      %br
  %p
    = link_to 'Add a new contact', new_admin_organization_contact_path(@organization), class: 'btn btn-primary'

.danger-zone
  %header
    %strong
      Danger Zone
  %h4
    Delete this organization
  %p
    Once you delete an organization, there is no going back. Please be certain.
  %p
    = link_to 'Permanently delete this organization', { action: :confirm_delete_organization, org_id: @organization.id, org_name: @organization.name }, remote: true, data: { toggle: 'modal', target: '#modal-window' }, class: 'boxed-action'
.modal.fade#modal-window{ 'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', 'role' => 'dialog', 'tabindex' => '-1' }

.save-box.navbar-default
  %p
    Editing
    %strong
      #{@organization.name}
  = f.submit 'Save changes & apply edits to database', class: 'btn btn-success', data: { disable_with: 'Please wait...' }
