%div.events-header
  %p Organizations
  = select(:organization, :approval_status, options_for_select([['Filter By Approval Status'], ['All', 'all'], ['Pending', 'pending'], ['Approved', 'approved'], ['Denied', 'denied']], disabled: 'Filter By Approval Status'), {}, { class: 'form-control' })
  = select(:organization, :is_published, options_for_select([['Filter By Published'], ['All', 'all'], ['Yes', 'true'], ['No', 'false']], disabled: 'Filter By Published'), {}, { class: 'form-control' })
%br
%br
%table{cellspacing: 30, class: 'custom-table'}
  %thead
    %tr
      %th Name
      %th Owner
      %th Approval Status
      %th Published?
  %tbody
    - @orgs.each do |organization|
      %tr
        %td= link_to organization[1], admin_organization_path(organization[2])
        %td= organization[3]
        %td= organization[4] || 'Pending'
        %td= organization[5].is_a?(FalseClass) ? 'No' : 'Yes'
%div.bottom-pagination
  = paginate @orgs
