= form_for [:admin, @organization], html: { class: 'edit-entry' } do |f|
  %div.events-header
    %p
      %b= @organization.name
    = f.select(:approval_status, options_for_select([['Filter By Approval Status'], ['All', 'all'], ['Pending', 'pending'], ['Approved', 'approved'], ['Denied', 'denied']], disabled: 'Filter By Approval Status', selected: @organization.approval_status), {}, { class: 'form-control', id: 'test-ds' })

  %br
  %p= @organization.description
  %br
  %a{ href: "#{ENV.fetch('FRONT_ENV_APP_URL')}/businesses/#{@organization.id}", class: 'btn btn-primary btn-lg', target: '_blank' }
    View Organization
  =link_to 'Edit Organization', edit_admin_organization_path(@organization.slug), class: 'btn btn-primary btn-lg'
  .save-box.navbar-default
    = f.submit t('admin.buttons.save_changes'), class: 'btn btn-success', data: { disable_with: 'Please wait...' }