= form_for @api_application do |f|
  - if @api_application.errors.any?
    .alert.alert-danger
      %h2 #{pluralize(@api_application.errors.count, 'error')} prohibited this application from being saved:
      %ul
        - @api_application.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name, 'Application Name'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :main_url, 'Main URL'
    = f.text_field :main_url, class: 'form-control'
  .form-group
    = f.label :callback_url, 'Callback URL'
    = f.text_field :callback_url, class: 'form-control'
  - if f.object.new_record?
    .actions
      = f.submit 'Register application', class: 'btn btn-primary'
  - else
    .actions
      = f.submit 'Update application', class: 'btn btn-success'
      = link_to 'Delete application', @api_application, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
