= link_to "#{t("titles.main", brand: t("titles.brand"))}", admin_dashboard_path, class: 'brand'
%ul.nav
  - if admin_signed_in?
    %li
      %span
        Logged in as #{current_admin.name}
    %li
      = link_to 'Edit account', edit_admin_registration_path
    %li
      /= link_to 'Your locations', admin_locations_path
    %li
      = link_to 'Sign out', destroy_admin_session_path, method: 'delete'
  - else
    %li
      = link_to 'Sign in', new_admin_session_path
    %li
      = link_to 'Sign up', new_admin_registration_path
