- if admin_signed_in?
  %li
    = link_to 'Edit account', edit_admin_registration_path
  %li
    = link_to 'Organizations', admin_organizations_path
  %li
    = link_to 'Locations', admin_locations_path
  %li
    = link_to 'Services', admin_services_path
  %li
    = link_to 'Sign out', destroy_admin_session_path, method: 'delete'
  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to "Hi, #{current_admin.name}", '#', class: 'logged-in'
