- if admin_signed_in?
  %li
    = link_to t('navigation.edit_account'), edit_admin_registration_path
  %li
    = link_to t('admin.buttons.organizations'), admin_organizations_path
  %li
    = link_to t('admin.buttons.locations'), admin_locations_path
  %li
    = link_to t('navigation.sign_out'), destroy_admin_session_path, method: 'delete'
  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to "Hi, #{current_admin.name}", '#', class: 'logged-in'
