!!!
%html
  %head
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
      %title= content_for?(:title) ? yield(:title) : t('titles.main', :brand => t('titles.brand'))
      %meta{content: content_for?(:description) ? yield(:description) : "Admin Interface for #{t('titles.brand')}", name: 'description'}
        = stylesheet_link_tag 'application', media: 'all'
        = javascript_include_tag 'application'
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'admins/shared/navigation'
    #main{role: 'main'}
      .container
        .content
          .row
            .span12
              = render 'shared/messages'
              = yield
          %footer
      / ! end of .container
    / ! end of #main
