!!!
%html
  %head
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
      %title= content_for?(:title) ? yield(:title) : t('titles.admin', brand: t('titles.brand'))
      %meta{ content: content_for?(:description) ? yield(:description) : "Admin Interface for #{t('titles.brand')}", name: 'description' }
        = stylesheet_link_tag 'admin/application', media: 'all'
        = csrf_meta_tags
        = yield(:head)
  %body{ class: "#{controller_name} #{action_name}" }
    = render 'admin/shared/navigation'
    #main{role: 'main'}
      .content
        .container
          .row
            = render 'shared/messages'
            = yield
    = javascript_include_tag 'admin/application'
