!!!
%html
  %head
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
      %title= content_for?(:title) ? yield(:title) : t('titles.brand')
      %meta{ content: content_for?(:description) ? yield(:description) : "An open-source API of human services and other organizations in #{t('admin.api_location')}", name: 'description' }
        = stylesheet_link_tag 'application', media: 'all'
        = csrf_meta_tags
        = yield(:head)
  %body{ class: "#{controller_name} #{action_name}" }
    = render 'shared/navigation'
    #main{ role: 'main' }
      .content
        .container
          .row
            = render 'shared/messages'
            = yield
    = javascript_pack_tag 'application'
